body{
    background-color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.container{
    background-color: white;
    width: 350px;
    margin-left: 450px;
    border: 2px solid black;
    border-radius: 5%;
    text-align: center;
    padding: 20px;
}